@media (max-width:660px){
    .weekOfferContainer {
        width: 360px;
        margin: 0 auto;
    }
    
    .weekOfferSlider11 {
    
        height: 155px;
        width: 360px;
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 0px 10px;
    }
    
    .weekOfferSlider112 {
        background-color: white;
    
    }
    
    .weekOfferSlider11 p {
        text-align: left;
    }
    
    .weekOfferSlider11 h6 {
        text-align: left;
        cursor: pointer;
    }
    
    .weekOfferSlider11 img {
        display: block;
        width: 100px;
        height: 100%;
        object-fit: cover;
    }
}
@media (min-width:660px){
    .weekOfferContainer {
        width: 650px;
        margin: 0 auto;
    }
    
    .weekOfferSlider11 {
        height: 155px;
        width: 325px;
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 0px 10px;
        border-radius: 5px;
    }
    
    .weekOfferSlider112 {
        background-color: white;
        border-radius: 10px;
    
    }
    
    .weekOfferSlider11 p {
        text-align: left;
    }
    
    .weekOfferSlider11 h6 {
        text-align: left;
        cursor: pointer;
    }
        
    .weekOfferSlider11 h6:hover {
  text-decoration: underline
  ;
    }
    
    .weekOfferSlider11 img {
        display: block;
        width: 100px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}
@media (min-width:1048px){
    .weekOfferContainer {
        width: 1024px;
        margin: 0 auto;
    }
    
    .weekOfferSlider11 {
        height: 155px;
        width: 325px;
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 0px 10px;
    }
    
    .weekOfferSlider112 {
        background-color: white;
    
    }
    
    .weekOfferSlider11 p {
        text-align: left;
    }
    
    .weekOfferSlider11 h6 {
        text-align: left;
    }
    
    .weekOfferSlider11 img {
        display: block;
        width: 100px;
        height: 100%;
        object-fit: cover;
    }
}
@media (min-width:1240px){
    .weekOfferContainer {
        width: 1200px;
        margin: 0 auto;
    }
    
    .weekOfferSlider11 {
        height: 155px;
        width: 325px;
        background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 0px 10px;
    }
    
    .weekOfferSlider112 {
        background-color: white;
    
    }
    
    .weekOfferSlider11 p {
        text-align: left;
    }
    
    .weekOfferSlider11 h6 {
        text-align: left;
    }
    
    .weekOfferSlider11 img {
        display: block;
        width: 100px;
        height: 100%;
        object-fit: cover;
    }
}
@media (min-width:1448px){
    .weekOfferContainer {
        width: 1400px;
        margin: 0 auto;
    }
}